
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --primary-color: #007af3ff;
    --international-orange-engineering: #ba1200ff;
    --bg-color: #ffffffff;
    --rich-black-fogra-29: #031927ff;
    --raisin-black: #252323ff; 
}

html {
	scroll-behavior: smooth;
  }

body {
	background-color:var(--bg-color);
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section{
  padding: 1em 2em;
}
